*{margin: 0; padding:0;}                   /*全局属性设置*/
.wp{width: 960px; margin:0 }
body{ 
	width: 1349px;
	height: 637px;	
}
.top{
	background: url("../images/search_top.jpg")repeat-x;
	width: 1349px;
	height: 286px;
}
.top a{
	font-size:20px;
	color:white;
	font-family:宋体;
	float:right;
}
.center{
	background: url("../images/search_c.jpg")repeat-x;
	width: 1349px;
	height: 57px;
}
.center input{
	margin-left:335px;
	background:none;
	border: none;
	width: 667px;
	height: 57px;
	font-size: 30px;
}