<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet"  href="../static/css/login.css"/>
</head>
<body>
	<div class="top">
		<img src="..\static\images\bg_top.jpg">
	</div>
	<div class="bg_c">
		<div class="bg_c_l z">
			<img src="..\static\images\bg_c_l.jpg">
		</div>
		<div class="bg_c_c z">
				<form action="/login" method="post" >
					<table>
							<tr ><td class="id"><input type="text" name="username">></td></tr>
							<tr ><td class="pw"><input type="text" name="password">></td></tr>
							<tr ><td class="sm"><button type="submit" name="submit"></button></td></tr>
					</table>
				</form>
			</img>
		</div>
		<div class="bg_c_r z">
			<img src="..\static\images\bg_c_r.jpg">
		</div>
	</div>
	<div class="bottom">
		<img src="..\static\images\bg_bottom.jpg">
	</div>
	   
</body>
</html>



		
		