<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>
    <link rel="stylesheet"  href="../static/css/search.css"/>
</head>
<body>
	<div class="top">
		<a href='http://127.0.0.1:8000/resume/' target='_blank'>我的简历</a>
	</div>
	<div class="center">
		<form action="search/" method="post">
			<table>
				<tr>
					<td><input type="text" name="search"/></td>
					<td><button type="submit" name="submit"/></td>
				</tr>
			</table>
		</form>
	</div>
	<div class="bottom">
		<img src="../static/images/search_bottom.jpg">
	</div>
</body>
</html>



		
		